.container {
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #2d2d38;
}

.finalMsg {
  font-size: 3rem;
}

.imgGif {
  margin-top: 20px;
}

.numberWeek {
  font-size: 4rem;
  margin-bottom: -10px;
}

.numberDay {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: -10px;
}

.numberInside span {
  font-size: 2rem;
}

.weekCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counters {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  margin-top: 20px;
  font-size: 1rem;
}

.finalText {
  padding-top: 40px;
  font-size: 0.8rem;
}
